<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- HEAD -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>BH todos web app</title>

	<!-- FAVICON -->

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/BH-logo.png') }}?{{ cache_id }}" />

	<!-- CSS styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/108-common.css') }}?{{ cache_id }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/108-header.css') }}"?{{ cache_id }} />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/108-footer.css') }}?{{ cache_id }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/108-left-col.css') }}?{{ cache_id }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/108-mid-col.css') }}?{{ cache_id }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/108-right-col.css') }}?{{ cache_id }}" /> 

	<SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
	<SCRIPT src="{{ url_for('static', filename='scripts/4-bh.js') }}?{{ cache_id }}"></SCRIPT>
  </head>

  <!-- *****************
           BODY
    ******************-->
  <body>

	<!-- HEADER -->
	<header>
	<div class="navbar">
	<span id="api_status"></span>
	<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
	<a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
	<a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
	<a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
	</div>
	</header>

	<!------ *****************
	    MAIN CONTAINER
	    ******************----->
	<main>
      <div class="container">
	<section class="col col-left">

	  <!----- **********************
	         LEFT COLUMN
	      ******************* ------>
		  <div class="location">
            <h1>Employee Search</h1>
            <section class="filters-left">
                <div class="locations-left">
                    Employees...
                    <ul class="popover" tabindex="0">
	{% for department in departments.values()|sort(attribute='name') %}
    <li class="left1d"><input data-id={{ department.id }} data-name="{{ department.name }}" type="checkbox">
                            <b>{{ department.name }}:</b>
                              <ul>
  {% for employee in department.employees|sort(attribute='first_name') %}
     <li class="left1e"><input data-id={{ employee.id }} data-name="{{ employee.first_name }} {{ employee.last_name }}" type="checkbox">
                {{ employee.first_name + " " + employee.last_name }}</li>
		{% endfor %}
                      </ul>
                            </li>
	{% endfor %}
                        </ul>
                </div>
                    <button class="left1" type="submit">Search</button>
            </section>
            <p></p>
            <section class="filters1-left">
                <div class="locations1-left">
                    Employee...Todo...
                        <ul class="popover" tabindex="0">

       {% for department in departments.values()|sort(attribute='name') %}
                            <li><b>{{ department.name }}:</b>
                              <ul>
   {% for employee in department.employees|sort(attribute='first_name') %}
      <li class="left2e"><input data-id={{ employee.id }} data-name="{{ employee.first_name }} {{ employee.last_name }}" type="checkbox">
            {{ employee.first_name + " " + employee.last_name }}</li>
	{% endfor %}
                              </ul>
                            </li>
	    {% endfor %}
                        </ul>
                </div>
                    <button class="left2" type="submit">Search</button>
            </section>
	</div>

	<!------ ******************
	    LEFT DISPLAY PANNAL
	    ********************* ----->

          <div class="display-left">
	    <h4>Employee infomations:</h4>
	    <ul class="employee-list"></ul>
          </div>
	</section>

	<!----- ****************************
	    MID COLUMN
	    ************************ ------->
		<section class="col col-mid">
            <div class="location">
                <h1>Todo Search</h1>
                <section class="filters-mid">
                    <div class="locations-mid">
                        Todos...
                        <ul class="popover" tabindex="0">
		{% for todo in todos.values()|sort(attribute='title') %}
     <li class="mid1t"><input data-id={{ todo.id }} data-name="{{ todo.title }}" type="checkbox">
		  <b>{{ todo.title }}</b></li>
			    {% endfor %}
                        </ul>
                    </div>
                        <button class="mid1" type="submit">Search</button>
                </section>
                    <p></p>
                <section class="filters1-mid">
                    <div class="locations1-mid">
                        Todo...Employee...
                        <ul class="popover" tabindex="0">
		{% for todo in todos.values()|sort(attribute='title') %}
     <li class="mid2t"><input data-id={{ todo.id }} data-name="{{ todo.title }}" type="checkbox">
		<b>{{ todo.title }}</b></li>
			    {% endfor %}
                        </ul>
                    </div>
                        <button class="mid2" type="submit">Search</button>
                </section>
            </div>

	    <!---- *******************
		MID DISPLAY PANAL
		******************* ----->
	    <div class="display-mid">
	      <h4>Todos Informations:</h4>

	      {% for todo in todos.values()|sort(attribute='title') %}
	      <p></p>
	      <ul><b>Job Title: {{ todo.title }}</b>
              <li>Id: {{ todo.id }}</li>
	      {%- if todo.completed == 1 %}
	      <li>Completed: True</li>
	      {%- else %}
	      <li>Completed: False</li>
	      {%- endif %}
		<li>Due Date: {{ todo.due_date }}
		  </ul>
		{% endfor %}
            </div>

        </section>

		<section class="col col-right">
		  <div>
                <form method="post">
                    <h1>CRUD Console</h1>
                    <section>
                    <button type="submit">Add Todo</button>
                    </section>
                    <section>
                        <p>
                            <label for="title">
                            Title:
                            </label> <br />
                            <input type="text" id="name" name="username">
                            </p>
                            <p>
                                <label for="date">
                                Due date:
                                </label> <br />
                                <input type="date" id="date" name="jobduedate">
                            </p>
                            <p>
                              <label for="completed">
                                Completed:
                              </label> <br />
                              <select id="completed" name="jobcompleted">
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                              </select>
                            </p>
                        </section>

                        <section>
                        <button type="submit">Add the Todo to Employee</button>
                        </section>
                        <section>
                            <p>
                              <label for="employee_id">
                                Employee_id:
                              </label> <br />
                              <input type="employee_id" id="date" name="employeeid">
                            </p>
                        </section>
                    </form>
          </div>
		</section>
	  </div>
	</main>

	<!-- FOOTER -->
	<footer>
	  Welcome to BH Website, great to have you!
	</footer>

  </body>

</html>
