@charset "UTF-8";
/** Holberton Practice Styles
 * ----- Footer
 */

footer {
	background: rgb(46, 5, 230);
	height: 40px;
	line-height: 40px;
	width: 100%;
	bottom: 0px;
	position: relative;
	text-align: center;
	text-size-adjust: 20px;
	color: whitesmoke;
	border-top: 1px solid #CCCCCC;
}
